@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewData["userName"]</h1>
    <p>This is our about page.</p>
    <p>Please visit us soon.</p>
</div>
